@{
  Layout = "_Layout";
}
<title>Client update</title>
<div class="container">
  <h1>Update Client: @Model.GetName()</h1>
  <h5 class="text-muted"><em>Be sure you select "update client" to save your changes</em></h5>
  <hr />
  <form action="/clients/@Model.GetId()/update" method="post">
    <label for="name">Update:</label>
    <input type="text" name="newname" value="@Model.GetName()">

    <button type="submit" class="btn-info">Update Client</button>
  </form>
  <hr>
</div>
