@{
  Layout = "_Layout";
}
<title>home index</title>


<div class="container-fluid">
  <h1>Hair Salon</h1>
  <h5 class="text-muted"><em>We cut hair</em></h5>
  <hr />
  <div class="row">
    <div class="col-6">
      <a href="/clients/new" class="btn register btn-info">Register a New Client</a>
    </div>
    <div class="col-6">
      <a href="/specialtys" class="btn register btn-info">Register a New Stylist</a>
    </div>
  </div>
  <div class = "card-group row">
    <div class="card col-4" style="width: 18rem;">
      <img class="card-img" src="~/img/kid.jpeg" alt="picture of baby">
    </div>
    <div class="card col-4" style="width: 18rem;">
      <img class="card-img" src="~/img/back.jpeg" alt="picture of baby">
    </div>
    <div class="card col-4" style="width: 18rem;">
      <img class="card-img" src="~/img/elder.jpeg" alt="picture of baby">
    </div>
  </div>
  <hr>
</div>
