@{
  Layout = "_Layout";
}
<title>Stylist Create Form</title>
<div class="container">
  <h1>Add New Stylist</h1>
  <h5 class="text-muted"><em>Only if it does not already exist</em></h5>
  <hr />
  <form action="/stylists/@Model" method="post">
    <label for="stylist-name">Stylist name:</label>
    <input id="stylist-name" name="stylist-name" type="text">

    <button type="submit" class="btn-info">Add Stylist</button>
  </form>
  <hr>
</div>
